name: "PR Title Checker"

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  title-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR Title
        env:
            # Pass the PR title to an environment variable for secure handling in bash
            PR_TITLE: ${{ github.event.pull_request.title }}
        run: |
            # Define your required regex pattern here
            # This example enforces "Type(scope): Description", following Conventional Commits
            PATTERN="^(feat|fix|docs|version|refactor|chore|ci): [A-Z].{20,}$"

            if [[ "$PR_TITLE" =~ $PATTERN ]]; then
                echo "PR title format is valid."
            else
                echo "PR title format is invalid. Start with a category followed by colon and a capitalized sentence of at least 20 characters."
                echo "Required format: (feat|fix|docs|version|refactor|chore|ci): [A-Z].{19,}"
                echo "Example: feat: Add login functionality"
                exit 1
            fi
